<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>내 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>

<body class="coloring">
<nav class="navbar">
    <div class="top">
        <img src="../img/left-arrow.png" height="20rem" style="visibility:hidden;">
		<a href="/"><img src="../img/update_playmeet3.jpg" height="50rem" style="margin-right:-1rem;"></a>
        <div class="sets" style="visibility:hidden;">
            <a href="/chatroomchat"><img src="../img/update_chat.png" class="menu_img" height="20rem" style="margin-right: .3rem;"></a>
            <img src="../img/update_menu.png" height="20rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        </div>
    </div>
</nav>
    
<div class="container">
    <div class="reco">
        <img src="../img/logout.png" height="70rem;" style="display:block; margin-left:auto;margin-right:auto; margin-bottom:2rem;">
        <div class="change"><p>회원정보가 수정되었습니다.<br>다시 로그인 해주세요.</p></div>
        
        <a href="/logout"><button class="btn logout_btn">다시 로그인하기</button></a>
    </div>
</div>
</body>
    
</html>